.main-search {
  height: 100vh;
  background: url(https://iev.aero/images/main.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.38);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.38);
  position: relative;
  overflow: hidden;
}
.title {
  text-align: center;
  line-height: 80px;
  font-size: 60px;
}
.search-line-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: -webkit-fill-available;
  height: 5vh;
  padding: 0 20vh 0 20vh;
}
// .search-button {
//    margin-top: 4vh;
//    height: 5vh;
// }
