* {
  box-sizing: border-box;
}
.main-search {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url(https://iev.aero/images/main.jpg) no-repeat;
  background-color: #e7efec;
  background-size: inherit;
  color: #fff;
}
.title {
  text-align: center;
  line-height: 80px;
  font-size: 60px;
}
.search-line-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 11px auto;
  width: 80%;
  height: 80px;
  border: none;
}
.text-field {
  width: 40%;
  height: 80px;
  text-align: center;
  border: none;
}
.search-button {
  width: 20%;
  margin: 0;
  background-color: #1eb7ee;
  color: #fff;
  border: none;
  border-radius: 0 80px 0 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}
.search-icon {
  position: relative;
  left: 40px;
  height: 30px;
  color: grey;
}
.flights {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 20px auto;
  width: 50%;

  &__arrival-button {
    height: 60px;
    width: 320px;
    background-color: #fff;
    color: #1eb7ee;
    border: none;
    border-radius: 80px 0px 0 0;
  }
  &__departure-button {
    width: 320px;
    height: 60px;
    margin-left: 4vh;
    background-color: #fff;
    color: #1eb7ee;
    border: none;
    border-radius: 0px 80px 0px 0px;
  }

  .plane-icon__arrival {
    position: absolute;
    top: 25px;
    left: 8vh;
    color: #1eb7ee;
  }
  .plane-icon__departure {
    position: absolute;
    top: 25px;
    right: 4vh;
    color: #1eb7ee;
  }
}
.flights-list {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 60%;
  padding: 0;
  color: grey;
  list-style: none;
  &__titles {
    margin-top: 50px;
  }
  &__display {
    //   display: flex;
    // justify-content: space-between;
    // margin-top: 10px;

    margin: 10px 0 0 0 ;
    width: 60%;
    padding: 0;
    color: grey;
    list-style: none;
  }
}
